*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin: 25px;
    background-color: rgb(186, 113, 255);
    border: 2px solid black;
}
li{
    list-style: none;
}
img{
    height: 100px;
    width: 90px;
}
.container{
    display: flex;
    justify-content:space-around;
    
}

.container-main{
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
}
.container-aside{
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
}